{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% set body_class = 'home' %}

{% block content %}
<div class="home-center-header">
	<p class="intro-message">{% trans %}<strong>Anime DB</strong> is a system for making the home catalog of the anime. The system is designed for home use only.{% endtrans %}</p>
	<div class="home-search">
		{% render controller('AnimeDbCatalogBundle:Home:searchSimpleForm') %}
	</div>
</div>
<div class="home-center">
{{ widgets(widget_top) }}
{% include 'AnimeDbCatalogBundle:Home:list-items.html.twig' %}
{{ widgets(widget_bottom) }}
</div>
{% endblock %}