{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% set body_class = 'home' %}

{% block content %}
<div class="home-center-header">
	<p class="intro-message">{% trans %}<strong>AnimeDB</strong> is a system for making the home catalog of the anime. The system is designed for home use only.{% endtrans %}</p>
	<div class="home-search">
		{% render controller('AnimeDBCatalogBundle:Home:searchSimpleForm') %}
	</div>
</div>
<div class="home-center">
{% include 'AnimeDBCatalogBundle:Home:list-items.html.twig' %}
</div>
{% endblock %}