{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Upgrading the system{% endtrans %}{% endblock %}

{% block content %}
<div class="b-update">
	<h2>{% trans %}Upgrading the system{% endtrans %}</h2>
	<div class="b-update-ask">
		<div>{% trans %}Upgrading the system and its components may take a few minutes. You are ready to run it?{% endtrans %}</div>
		<form action="{{ path('home_exec_update') }}" method="post" target="update-iframe">
			<a href="{{ path('home') }}" class="button">{% trans %}Cancel{% endtrans %}</a>
			<button type="submit">{% trans %}Yes{% endtrans %}</button>
		</form>
	</div>
	<div class="b-update-container">
		<iframe name="update-iframe"></iframe>
	</div>
</div>
{% endblock %}