<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
	<head>
		<meta charset="UTF-8" />
		{% if block('title') is not empty %}
			<title>{% block title %}{% endblock %} - Anime DB</title>
		{% else %}
			<title>Anime DB</title>
		{% endif %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block stylesheets %}{% endblock %}
		{% block headers %}{% endblock %}
	</head>
	<body{% if body_class is defined %} class="{{ body_class }}"{% endif %}>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>