<section class="b-notice">
	<span class="b-message">{% autoescape false %}{{ notice.message }}{% endautoescape %}</span>
	<button type="button" class="bt-close" data-close="{{ path('notice_close', {id: notice.id}) }}">Close</button>
</section>