{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Installed plugins{% endtrans %}{% endblock %}

{% block content %}
<div class="b-plugins-installed">
	<h2>{% trans %}Installed plugins{% endtrans %}</h2>
</div>
{% endblock %}