@CHARSET "UTF-8";

.form-field-title,
.form-field-input {
	width: 50%;
	text-align: left;
	vertical-align: top;
}
.form-field-title {
	text-align: right;
}
.form-nested-collection .form-fields {
	width: 100%;
}


.form-field-hidden {
	display: none;
}
.form-field-comment,
.form-field-required-comment {
	font-size: 10px;
	font-weight: normal;
	color: gray;
}
.form-field-required-comment {
	margin-top: 10px;
}
.form-field-required {
	color: red;
	font-size: 16px;
	font-weight: bold;
}