<h2>{% trans %}Search this site{% endtrans %}</h2>
<form action="{{ path('home_search') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">{% trans %}Search{% endtrans %}</button>
</form>