@charset "UTF-8";
body {
	font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
	/* font-family: "Trebuchet MS",Verdana,sans-serif; */
	font-size: 12px;
	line-height: 1.4em;
	background: #e9cd8e;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a:link,
a:visited {
	border-bottom: 0;
}
ul {
	padding-left: 25px;
}
a, h1, h2, h3, h4, h5, h6, b,
.content strong {
	color: #db3400;
}
a:visited {
	color: #ff6600;
}
a:hover,
input[type~=button]:hover,
input[type~=reset]:hover,
input[type~=submit]:hover,
button:hover {
	color: #b00;
	text-decoration: none;
}
h3,
h4 {
	margin: 0;
	font-weight: normal;
}
h3 {
	padding: 0 0 9px;
}
h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 12px;
	font-weight: bold;
}
p {
	font-size: 12px;
}
abbr {
	cursor: default;
}
table, tr, th, td {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	border: gray 1px solid;
}
td, th {
	padding: 5px 10px;
}

/**
 * Forms
 */
form label {
	height: 26px;
	width: 250px;
	display: block;
	line-height: 26px;
	float: left;
}
input,
textarea {
	width: 300px;
}
textarea {
	height: 100px;
}
.f-row {
	margin-bottom: 5px;
}
.f-collection {
	margin: 0 0 10px 30px;
	clear: both;
}
.f-collection .f-fields {
	display: inline-block;
	width: 564px;
}
.f-collection .bt-remove-item,
.f-collection .bt-add-item {
	vertical-align: top;
	margin-top: 5px;
}
input[type~=button],
input[type~=reset],
input[type~=submit],
button {
	display: inline-block;
	position: relative;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	border-radius: 4px;
	border: 1px solid #d8dcdf;
	background: #eeeeee url(jquery-ui/images/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	padding: .4em 1em;
	font-size: 1.1em;
	color: #db3400;
}



/**
 * Logo
 */
h1.logo {
	position: absolute;
	top: 10px;
	left: 32px;
	margin: 0;
}

h1.logo,
h1.logo a {
	width: 276px;
	height: 80px;
}

h1.logo a {
	display: block;
	background: url(../images/logo.gif) no-repeat;
}

h1.logo a span {
	display: none;
}

/**
 * Navigation
 */
#navigation {
	width: 956px;
	position: relative;
	z-index: 6;
	top: 30px;
	margin: 0 auto;
}
#navigation nav {
	float: right;
}
#navigation nav > ul,
#navigation .left,
#navigation .right {
	background: url(../images/navigation.png) repeat-x scroll 0 -41px transparent;
	float: left;
	height: 41px;
}
#navigation .left {
	background: url(../images/navigation-l.png) no-repeat scroll left top transparent;
	width: 5px;
}
#navigation .right {
	background: url(../images/navigation-r.png) no-repeat scroll right top transparent;
	width: 5px;
}
#navigation ul,
#navigation ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	line-height: 38px;
}
#navigation ul {
	white-space: nowrap;
	position: relative;
}
#navigation nav > ul > li {
	float: left;
}
#navigation a,
#navigation span {
	color: #ccc;
	display: block;
	float: left;
	height: 41px;
	padding: 0 18px;
	text-decoration: none;
}
#navigation span {
	cursor: default;
}
#navigation nav > ul > li > a,
#navigation nav > ul > li > span {
	background: url(../images/navigation-s.png) no-repeat scroll right top transparent;
}
#navigation .selected a,
#navigation .selected span {
	color: #fff;
}
#navigation .last a,
#navigation .last span {
	background-image: none;
}
#navigation li:hover a,
#navigation li:hover span {
	color: #fff;
}


#navigation ul ul {
	position: absolute;
	top: 100%;
	background: black;
	visibility: hidden;
	opacity: 0;
	filter: alpha(Opacity=0);
	transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#navigation li:hover > ul {
	visibility: visible;
	opacity: 1;
	filter: alpha(Opacity=100);
}
#navigation ul ul li {
	position: relative;
	clear: both;
}
#navigation ul ul ul {
	right: 100%;
	top: 0;
}

/**
 * Background
 */
#bg-left,
#bg-right,
#bg-buttom {
	position: relative;
	bottom: 0;
	margin: -1431px auto 0 auto;
	height: 1431px;
}
#bg-buttom {
	background: #e9cd8e url(../images/bg.jpg) repeat-x bottom left;
}
#bg-left {
	background: url(../images/bg-left.jpg) no-repeat bottom left;
}
#bg-right {
	background: url(../images/bg-right.jpg) no-repeat bottom right;
}
#wrapper {
	position:absolute;
	top:0;
	width:100%;
	left:0;
	bottom:168px;
}
#header {
	height: 90px;
}
#header,
#content-wrapper,
#footer {
	position: relative;
	width: 956px;
	margin: 0 auto;
	z-index: 5;
}
#line {
	height: 10px;
}
#cap {
	z-index: 10;
	background: #222;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
	filter: alpha(Opacity=70);
	display: none;
}

/*
 * Content
 */
#content-wrapper {
	width: 950px;
	min-height: 100%;
	background: #fff url(../images/bg-home-right.gif) no-repeat -231px -144px;
	border: 3px #ff9f0b solid;
	border-bottom: 0;
}
.content {
	min-height: 271px;
	background: url(../images/bg-home-top.gif) no-repeat 0 0;
	overflow: hidden;
	padding: 30px 35px 30px 35px;
}

/**
 * Footer
 */
#footer {
	height: 53px;
	padding-top: 12px;
	background: url(../images/bg-footer.png) no-repeat left top;
}
#footer div {
	margin: 0 15px;
	color: #5e5e5e;
	font: normal 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#footer div a {
	color: #bbb;
}
#footer .license {
	float: left;
	width: 50%;
}
#footer .copy {
	float: right;
	width: 20%;
	text-align: right;
}

/**
 * Home
 */
.home #content-wrapper {
	background: #fff url(../images/bg-home-top.gif) no-repeat 0 0;
}
.home .content {
	background: url(../images/bg-home-right.gif) no-repeat right 34px;
	min-height: 327px;
}
.home-center-header {
	height: 121px;
	margin: 25px 0 0 0;
}
.home-center-header p.intro-message {
	margin: 0;
	width: 440px;
	float: left;
	color: #666;
	font-size: 1.4em;
	line-height: 1.3em;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
.home-center-header p.intro-message strong {
	color: #333;
	font-weight: normal;
}
.home-search {
	float: right;
	text-align: center;
}
.home-search h2 {
	color: #000;
}
.home-search input {
	background: url(../images/magglass.png) no-repeat scroll 5px 7px #FFFFFF;
	/*border: 1px #C0CAD5 solid;*/
	border: 2px #fff100 solid;
	margin: 2px 15px 0 0;
	padding: 5px 5px 5px 20px;
	font-size: 11px;
	width: 150px;
}
.home-search label {
	display: none;
}
.home-search div {
	display: inline-block;
}


.content section {
	margin-bottom: 10px;
}
.content section > h3 {
	margin: 0 0 5px 0;
	padding: 0 0 2px 5px;/*
	border-bottom: 1px #ccc solid;*/
	display: inline-block;
	min-width: 40%;
}
.content section > div,
.content section > p {
	margin-left: 5px;
}



/**
 * Main page for add item
 */
.b-add-item section {
	margin-bottom: 50px;
}
.b-add-item .b-add-manually {
	margin-bottom: 0;
}
.b-add-item section h3 {
	font-size: 120%;
	font-weight: bold;
}
.b-add-item label {
	padding-right: 5px;
	display: block;
	width: 63px;
	float: left;
}
#f-add-item-search div,
#f-add-item-source div {
	margin: 5px 15px 0 0;
	float: left;
}
.b-add-item input {
	width: 300px;
}


/**
 * Filler search page
 */
.b-filler-search ul {
	padding: 0;
}
.b-filler-search li {
	list-style: none;
	margin-bottom: 10px;
}
.b-filler-search .image {
	width: 120px;
	height: 150px;
	text-align: center;
	float: left;
}
.b-filler-search .image img {
	max-width: 120px;
	max-height: 150px;
}
.b-filler-search .info {
	margin-left: 15px;
	float: left;
}
.b-filler-search .info a {
	margin-bottom: 3px;
	display: block;
}

/**
 * Addition form
 */
#animedb_catalogbundle_entity_item_summary,
#animedb_catalogbundle_entity_item_episodes {
	width: 500px;
	height: 200px;
}
#animedb_catalogbundle_itemtype_file_info {
	width: 500px;
}
.b-addition-form .f-collection .b-col-rm-item {
	height: 31px;
	line-height: 31px;
	margin-left: 20px;
	float: left;
}
.b-addition-form .f-collection,
.b-addition-form .f-row {
	clear: both;
}



.content section header {
	font-weight: bold;
	background-color: #ffeeb8;
	border-left: 5px #db3400 solid;
	margin: 2px 0 5px;
	padding: 3px 7px 2px 5px;
}
.content section article {
	margin-left: 3px;
}
.favicon {
	width: 16px;
	height: 16px;
}

/**
 * Show image
 */
.item-show-left {
	width: 600px;
	float: left;
}
.item-show-right {
	width: 260px;
	float: right;
}
.item-show-left .cover {
	margin: 0 15px 10px 0;
	float: left;
}
.item-controls a {
	display: block;
	height: 16px;
	padding-left: 20px;
	margin-bottom: 2px;
}
.item-controls .fill {
	background: url(../images/polygon.png) no-repeat 0 -32px;
}
.item-controls .complement {
	background: url(../images/polygon.png) no-repeat 0 -48px;
}
.item-controls .change {
	background: url(../images/polygon.png) no-repeat 0 -16px;
}
.item-controls .remove {
	background: url(../images/polygon.png) no-repeat 0 0;
}
.item-summary {
	min-height: 300px;
}
.item-episodes article {
	max-height: 500px;
	overflow: auto;
}
.item-info ul {
	margin: 0;
}
.item-sources ul {
	margin: 0;
	padding: 0;
}
.item-sources li {
	list-style: none;
	margin: 2px;
	display: inline-block;
}
.content .item-images article {
	margin: 0;
}
.item-images a {
	height: 140px;
	margin: 5px;
	float: left;
}

/**
 * list of items
 */
.list-items .item {
	width: 200px;
	height: 250px;
	margin: 10px;
	position: relative;
	overflow: hidden;
	float: left;
}
.list-items .item:hover .name {
	opacity: 0.8;
	filter: alpha(Opacity=80);
}
.list-items .name {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 250px;
	background: #222;
	text-decoration: none;
	opacity: 0;
	filter: alpha(Opacity=0);
	transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.list-items .name strong {
	display: block;
	margin: 23px 12px 0 12px;
	font-size: 120%;
	color: #fff;
}
.list-items .type {
	position: absolute;
	left: 4px;
	top: 3px;
}
.list-items .genres {
	position: absolute;
	bottom: 0;
	right: 4px;
	margin: 0;
	padding: 0;
	text-align: right;
	list-style: none;
}
.list-items .genres .genre-item {
	margin: 3px 0;
}
.list-items .genres .genre-item a,
.list-items .type a {
	display: inline-block;
	padding: 1px 4px;
	text-decoration: none;
	background: #db3400;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.list-items .genres .genre-item a:hover,
.list-items .type a:hover {
	background: #ff6600;
}

/*
 * UI State
 */
div.ui-widget div.ui-state-error,
div.ui-widget div.ui-state-highlight {
	padding: 10px;
	margin-bottom: 10px;
}
.ui-widget .ui-state-error .ui-icon-alert,
.ui-widget .ui-state-highlight .ui-icon-info {
	float: left;
	margin-right: 5px;
}

/**
 * Search items
 */
.b-search .params {
	width: 200px;
	float: left;
}
.b-search .result {
	width: 665px;
	float: right;
}
.b-search .params article {
	padding-right: 7px;
}
#f-search input,
#f-search select {
	width: 100%;
}

/**
 * Pagination
 */
.pagination {
	clear: both;
}
.pagination nav {
	text-align: center;
}
.pagination nav span,
.pagination nav a {
	display: inline-block;
	border: 1px solid #db3400;
	background: #db3400;
	color: #fff;
	text-decoration: none;
	padding: 1px 4px;
	margin: 3px;
	line-height: 20px;
	min-height: 20px;
	min-width: 14px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 21px;
}
.pagination nav a:hover {
	border: 1px solid #db3400;
	background: #ff6600;
}
.pagination nav span {
	border: 1px solid #cccccd;
	background: white;
	color: inherit;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	line-height: 30px;
	min-height: 30px;
	min-width: 24px;
	cursor: default;
}

/**
 * Popup
 */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin-top: -67px;
	margin-left: -280px;
	width: 560px;
	padding: 20px 25px 15px 25px;
	background: #fff url(../images/bg-home-right.gif) no-repeat -570px -144px;
	border: 3px #ff9f0b solid;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.popup .bt-popup-close {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0 0 0 24px;
	overflow: hidden;
	background: url(../images/close.png) no-repeat 24px 0;
	border: 0;
	opacity: 0.7;
	filter: alpha(Opacity=70);
}
.popup .bt-popup-close:hover {
	background-position: 0 0;
}

/**
 * Form image popup
 */
#f-image-popup {
	width: 380px;
	margin-top: -73px;
	margin-left: -218px;
	background-position: -750px -144px;
}
#f-image-popup label {
	width: 120px;
}
#f-image-popup input {
	width: 250px;
}
.f-image {
	background: #ccc;
	border: 1px #ff6600 solid;
	height: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
	margin-bottom: 2px;
	position: relative;
	float: left;
}
.f-image .change-button {
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	text-indent: 16px;
	overflow: hidden;
	border: none;
	background: url(../images/image_edit.png) no-repeat 0 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.f-image img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

/**
 * Form local path
 */
.f-local-path .change-path {
	background: url(../images/folder.png) no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	overflow: hidden;
	padding: 0;
	text-indent: 16px;
	margin-left: 5px;
}
#f-path-popup {
	margin-top: -141px;
	width: 400px;
	background-position: -731px -144px;
}
#f-path-popup .folders {
	height: 182px;
	background: white;
	overflow: auto;
	border: 1px #ff9f0b solid;
	padding: 3px 5px;
}
#f-path-popup input {
	width: 372px;
}
#f-path-popup .change-path {
	display: inline-block;
	margin: 5px 0 5px 5px;
	height: 16px;
	width: 16px;
	padding: 0;
	text-indent: 16px;
	border: 0;
	background: url(../images/right.png) no-repeat;
	overflow: hidden;
	float: right;
}
#f-path-popup .f-row {
	height: 26px;
}
#f-path-popup .folder {
	height: 16px;
	line-height: 16px;
	margin: 2px 0;
	display: block;
	text-decoration: none;
	text-indent: 19px;
	background: url(../images/folder.png) no-repeat;
}
#f-path-popup.updating .folders {
	background: white url(../images/loader.gif) no-repeat center center;
}

/**
 * Icons
 */
.icon,
.icon-label {
	display: inline-block;
	background: none;
	border: 0;
	width: 16px;
	height: 16px;
	padding: 0;
	text-indent: 16px;
	overflow: hidden;
	background-position: top left;
	background-repeat: no-repeat;
}
.icon-label {
	overflow: visible;
	width: auto;
	text-indent: 18px;
}
.icon-plus {
	background-image: url(../images/incut-plus.png);
	background-color: #33bb33;
}
.icon-minus {
	background-image: url(../images/incut-minus.png);
	background-color: #bbbbbb;
}
.icon-plus,
.icon-minus {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	background-position: center center;
	width: 17px;
	height: 17px;
	text-indent: 17px;
}
.icon-minus[disabled~=disabled] {
	background-color: #dddddd;
	cursor: default;
}
.icon-storage {
	background-image: url(../images/storage.png);
}
.icon-storage-new {
	background-image: url(../images/storage_new.png);
}
.icon-storage-delete {
	background-image: url(../images/storage_delete.png);
}
.icon-storage-edit {
	background-image: url(../images/storage_edit.png);
}

/**
 * Storages list
 */
.storages-list table {
	width: 700px;
}
.storages-list h3 {
	margin-top: 20px;
	font-weight: bold;
}
.storages-list h3:first-child {
	margin-top: 0;
}
.storages-list .list .control {
	width: 16px;
}
.storages-list .name {
}