{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Notice{% endtrans %}{% endblock %}

{% block content %}
<section>
	<h2>{% trans %}Notice{% endtrans %}</h2>
	<strong>{% trans %}Date created{% endtrans %}:</strong>
		{{ notice.datecreated|date('Y.m.d H:i') }}<br />
	<strong>{% trans %}Date closed{% endtrans %}:</strong>
		{% if notice.dateclosed is not empty %}
			{{ notice.dateclosed|date('Y.m.d H:i') }}
		{% else %}
			-
		{% endif %}<br />
	<strong>{% trans %}Status{% endtrans %}:</strong>
		{% if notice.status == 0 %}
			{% trans %}Created{% endtrans %}
		{% elseif notice.status == 1 %}
			{% trans %}Shown{% endtrans %}
		{% else %}
			{% trans %}Closed{% endtrans %}
		{% endif %}
	<br />
	<strong>{% trans %}Message{% endtrans %}:</strong><br />
	<p>{% autoescape false %}{{ notice.message }}{% endautoescape %}</p>
</section>
{% endblock %}