<section class="b-notice">
	<header><button type="button" class="bt-close" data-close="{{ path('notice_close', {id: notice.id}) }}">Close</button></header>
	<article>{{ notice.message }}</article>
</section>