<section class="b-notice">
	<span class="b-message">{{ notice.message }}</span>
	<button type="button" class="bt-close" data-close="{{ path('notice_close', {id: notice.id}) }}">Close</button>
</section>