@charset "UTF-8";

html {
	background: #e9cd8e url(images/bg.jpg) repeat-x bottom left;
	min-height: 100%;
}
body {
	background: url(images/bg-left.jpg) no-repeat bottom left;
	margin: 0;
	padding: 0;
	min-height: 100%;/*
	font-family: Arial, Helvetica, Verdana, sans-serif;
	*/font-family: "Trebuchet MS",Verdana,sans-serif;
	font-size: 12px;
	line-height: 1.4em;
}
a:link,
a:visited {
	border-bottom: 0;
}
a,
a .ui-button-text,
input[type~=button],
input[type~=reset],
input[type~=submit],
button,
.ui-button .ui-button-text,
h1, h2, h3, h4, h5, h6, b, strong {
	color: #db3400;
}
a:hover,
a:hover .ui-button-text
input[type~=button]:hover,
input[type~=reset]:hover,
input[type~=submit]:hover,
button:hover,
.ui-button.ui-state-hover .ui-button-text {
	color: #b00;
}
a:visited,
a:visited .ui-button-text {
	color: #ff6600;
}


#wrapper {
	margin: 0 auto 20px;
	width: 956px;
	position: relative;
}
#header {
	height: 90px;
}
#bg {
	height: 100%;
	background: url(images/bg-right.jpg) no-repeat bottom right;
}



/* Logo
   -------------------------------- */

h1.logo {
	position: absolute;
	top: 10px;
	left: 32px;
	margin: 0;
}

h1.logo,
h1.logo a {
	width: 276px;
	height: 80px;
}

h1.logo a {
	display: block;
	background: url(images/logo.gif) no-repeat;
}

h1.logo a span {
	display: none;
}

/*
 * Navigation
 */
#navigation {
	float: left;
	height: 41px;
	position: absolute;
	right: 0;
	top: 30px;
}
#navigation .left {
	background: url(images/navigation-l.png) no-repeat scroll left top transparent;
	float: left;
	height: 41px;
	width: 5px;
}
#navigation .right {
	background: url(images/navigation.png) no-repeat scroll right top transparent;
	float: left;
	height: 41px;
	width: 3px;
}
#navigation ul {
	background: url(images/navigation.png) repeat-x scroll 0 -41px transparent;
	height: 41px;
}
#navigation ul,
#navigation ul li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	line-height: 38px;
}
#navigation ul li a {
	background: url(images/navigation-s.png) no-repeat scroll right top transparent;
	color: #ccc;
	display: block;
	float: left;
	height: 41px;
	padding: 0 18px;
	text-decoration: none;
}
#navigation ul li.selected a {
	color: #fff;
}
#navigation ul li.last a {
	background-image: none;
}
#navigation ul li a:hover {
	color: #fff;
}


/* Content
   -------------------------------- */

#content-wrapper {
	background: #fff url(images/content_bg.png) repeat-y 0 0;
	border: 3px #ff9f0b solid;
	border-bottom: 0;
}

#content {
	background: url(images/content_body_bg.png) no-repeat 0 13px;
	zoom: 1;
}
.content {
	padding: 0 3px 0 3px;
	overflow: hidden;
}
#content .content {
	min-height: 380px;
}
#content-wrapper {
	background: #fff url(images/bg-home-top.gif) no-repeat 0 0;
}
#content {
	background: url(images/bg-home-right.gif) no-repeat right 34px;
}


#home-center-header {
	height: 120px;
	margin: 55px 35px 0;
}
#home-center-header p.intro-message {
	margin: 0;
	width: 440px;
	float: left;
	color: #666;
	font-size: 1.4em;
	line-height: 1.3em;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
#home-center-header p.intro-message strong {
	color: #333;
	font-weight: normal;
}
#home-search {
	float: right;
	text-align: center;
}
#home-search h2 {
	color: #000;
}
#home-search input {
	background: url(images/magglass.png) no-repeat scroll 5px 6px #FFFFFF;
	border: 2px #fff100 solid;
	margin: 2px 15px 0 0;
	padding: 5px 5px 5px 20px;/*
	border: 1px solid #C0CAD5;*/
	font-size: 11px;
}
#home-search label {
	display: none;
}
#home-search div {
	display: inline-block;
}
#home-center {
	margin: 30px 35px 0;
	min-height: 330px;
}


/* Normal
   -------------------------------- */

h3,
h4 {
	margin: 0;
	font-weight: normal;
}

h3 {
	padding: 0 0 9px;
}

h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 12px;
	font-weight: bold;
}

.pull-quote {
	padding: 6px 0;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 12px;
}

p {
	font-size: 12px;
}
.ui-corner-all {
	border-radius: 4px 4px 4px 4px;
}




/* Footer
   -------------------------------- */

#footer {
	height: 45px;
	padding: 12px 0 10px 0;
	position: relative;
	background: url(images/bg-footer.png) no-repeat left top;
	width: 100%;
}
#footer div {
	margin: 0 15px;
	color: #5e5e5e;
	font: normal 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#footer div a {
	color: #bbb;
}
#footer .license {
	float: left;
	width: 50%;
}
#footer .copy {
	float: right;
	width: 20%;
	text-align: right;
}


.content section {
	margin-bottom: 10px;
}
.content section > h3 {
	margin: 0 0 5px 0;
	padding: 0 0 2px 5px;
	border-bottom: 1px #ccc solid;
	display: inline-block;
	min-width: 40%;
}
.content section > div,
.content section > p {
	margin-left: 5px;
}



/**
 * Main page for add item
 */
.b-add-item section {
	margin-bottom: 50px;
}
.b-add-item section h3 {
	font-size: 120%;
	font-weight: bold;
}
.b-add-item label {
	padding-top: 5px;
	display: block;
	width: 63px;
	float: left;
}
#f-add-item-search div,
#f-add-item-source div {
	padding-top: 5px;
	margin-right: 15px;
	float: left;
}
#f-add-item-search input {
	width: 300px;
}
#f-add-item-source input {
	width: 460px;
}


/*
 * form-catalog_item_add
 */
/*
#form-catalog_item_add textarea {
	width: 100%;
}
#form-catalog_item_add button {
	margin: 0 20px;
}
#form-catalog_item_add .form-field-input,
#form-catalog_item_add .form-field-input div {
	text-align: left;
	vertical-align: top;
}
#form-catalog_item_add .form-field-title {
	text-align: right;
}
#form-catalog_item_add .form-buttons {
	margin-top: 10px;
	text-align: center;
}
.form-field-input input[type=radio] {
	line-height: 12px;
	margin: 0 5px;
}
.form-field-input label {
}*/

/*
.error,
.form-error {
	color: rad;
}*/


/*
 * UI State
 */
div.ui-widget div.ui-state-error,
div.ui-widget div.ui-state-highlight {
	padding: 10px;
	margin-bottom: 10px;
}
.ui-widget .ui-state-error .ui-icon-alert,
.ui-widget .ui-state-highlight .ui-icon-info {
	float: left;
	margin-right: 5px;
}

/*
.catalog-item-autofill-search-list {
	
}
.catalog-item-autofill-search-list li {
	margin: 15px;
	list-style: none;
}*/


/*
 * catalog-last-added
 *//*
.catalog-last-added .item {
	width: 270px;
	margin: 10px 10px 30px;
	float: left;
}
.catalog-last-added .cover {
	height: 340px;
	display: block;
	margin-bottom: 7px;
	text-align: center;
}
.catalog-last-added .info {
	height: 190px;
}
.catalog-last-added .name {
	margin-bottom: 5px;
}
.catalog-last-added .name strong {
	font-size: 1.5em;
}
.catalog-last-added .details {
	float: right;
}*/